.ModalLayover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 50%);
}

.Modal {
  position: fixed;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.ModalCloseButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  font-size: 24px;
  border: 0;
}
